<html>
<head>
    <title>Internet Archive</title>
</head>

<body TOPMARGIN="0" LEFTMARGIN="0" RIGHTMARGIN="0" BOTTOMMARGIN="0" link="#999999" bgcolor="#f5f5f7" vlink="#999999">
    <font face="Arial">
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <table>
            <tr BGCOLOR="#666666">
                <td>
                    <center>
                        <br>
                        <font color="#FFFFFF">Search the history of over <%= (mediacountsRaw.web/1000000000).toFixed(0) %> billion web pages on the Internet.</font>
                        <%- include('partials/waybacksearch') %>
                    </center>
                </td>
            </tr>
        </table>

        &nbsp;<br>
        <center>
            <table width="100%" cellspacing=5 cellpadding="5" border="0">
                <tr>
                    <td bgcolor="#ffffff" align=center>
                        <font size="2">
                            Internet Archive is a non-profit library of millions of free texts, movies, software, music, websites, and more.
                        </font>
                        <font size="1"><br>&nbsp;</font>
                        <table>
                            <tr>
                                <td align="center"><img src="web.gif"></td>
                                <td align="center"><img src="texts.gif"></td>
                                <td align="center"><img src="video.gif"></td>
                                <td align="center"><img src="audio.gif"></td>
                                <td align="center"><img src="tv.gif"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <font size="1"><a href="#">web</a></font>
                                </td>
                                <td align="center">
                                    <font size="1"><a href="#">texts</a></font>
                                </td>
                                <td align="center">
                                    <font size="1"><a href="#">movies</a></font>
                                </td>
                                <td align="center">
                                    <font size="1"><a href="#">audio</a></font>
                                </td>
                                <td align="center">
                                    <font size="1"><a href="#">tv</a></font>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td align="center"><img src="software.gif"></td>
                                <td align="center"><img src="image.gif"></td>
                                <td align="center"><img src="etree.gif"></td>
                                <td align="center"><img src="collection.gif"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <font size="1"><a href="#">software</a></font>
                                </td>
                                <td align="center">
                                    <font size="1"><a href="#">image</a></font>
                                </td>
                                <td align="center">
                                    <font size="1"><a href="#">etree</a></font>
                                </td>
                                <td align="center">
                                    <font size="1"><a href="#">collection</a></font>
                                </td>
                            </tr>
                        </table>

                        <form>
                            <input type="text" placeholder="Search">
                            <input type="submit" name="Go">
                        </form>

                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <font size="2">
                            <b>Archive News</b><br>

                            <% announcements.forEach(item => { %>
                            <a href="<%= item.link %>"><%= item.title %></a><br>
                            <% }); %>
                        </font>
                        <font size="1"><a href="#">more news</a></font>
                    </td>
                </tr>
            </table>

            <h2>Top Collections</h2>

            <table cellspacing="5" cellpadding="3" bgcolor="#666666" width="80%">
                <% topCollections.forEach(item => { %>
                <tr>
                    <td width="50" height="50"><img src="americana.jpg" width=50 height="50"></td>
                    <td>
                        <font color="white">
                            <a href="/details/<%= item.identifier %>"><%= item.title %></a>
                        </font>
                    </td>
                    <td width=100>
                        <font color="white" size="2">
                            <%= item.item_count %> ITEMS
                        </font>
                    </td>
                </tr>
                <% }); %>
            </table>

            <%- include('partials/footer') %>
        </center>
    </font>
</body>
</html>